<div class='row'>
    <div class="col-md-12 col-md-offset-3">
      <div class='col-md-2'>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create User</button> 
      </div>
      <div class='col-md-1'>
        <h3>Or </h3>
      </div>
      <div class='col-md-2'>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
          Sign In
      </button>
      </div>
    </div>  
  </div> 

</div> 


