<div class='sign_up_or_in'>
  <div class='col-md-10'>
    <div class='col-md-4'>
      <button type="button" class="btn btn-primary btn-lg">Create User</button> 
    </div>
    <div class='col-md-2'>
      Or
    </div>
    <div class='col-md-4'>
      <button type="button" class="btn btn-primary btn-lg">Login</button> 
    </div>
  </div> 
</div> 
